<h1> Does this work </h1>

<h1> All Shelters </h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <p><%= shelter.address %></p>
<% end %>

<ul>
  <li><a href="/shelters/new">Add Shelter</a></li>
</ul>
