<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter a new Shelter:</h2>
  <p> Name </p>
  <input type='text' name='shelter[name]'/><br/>
  <p> Address </p>
  <textarea name='shelter[address]'></textarea><br/>
  <p> City </p>
  <textarea name='shelter[city]'></textarea><br/>
  <p> State </p>
  <textarea name='shelter[state]'></textarea><br/>
  <p> Zip </p>
  <textarea name='shelter[zip]'></textarea><br/>
  <input type='submit'/>
</form>
